<!DOCTYPE html>
<html>
<head>
	<title>Faber</title>
	<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:40%; text-align: center; margin-left:30%;}
		#header{text-align:center; font:Helvetica,Arial,sans-serif;}
	</style>
</head>
<body>
	<div id="header">
	
	<h1>Faber</h1>
	Now you can be your best.
	</div>

	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	<form action="http://faberhq.us7.list-manage.com/subscribe/post?u=9e6566de3c6e85c6bdf63ad66&amp;id=9839ad082e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<h2>Subscribe to our beta list</h2>
	<div class="mc-field-group">
		<label for="mce-EMAIL">Email Address </label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>
	<!--End mc_embed_signup-->
</body>
</html>
